@font-face {
    font-family: "Iran Bold";
    src: url("IRAN Sans Bold.ttf");
    font-family: "Iran regular";
    src: url("IRAN Sans Regular.ttf");
}

body {
    font-size: large;
    font-family: "Iran regular";
    direction: rtl;
    text-align: right;
    background-color: f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .border {
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
}

.box {
    cursor: default;
    width: 70%;
    right: 15%;
    box-shadow: 0px 3px 10px 0px #ccc;
    margin-top: 35px;
    padding-bottom: 2rem;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}

.box2 {
    cursor: default;
    width: 60%;
    height: 50px;
    right: 15%;
    background-color: #ccc;
    box-shadow: 0px 3px 5px 0px #ccc;
    margin-top: 35px;
    border-radius: 15px;
    padding-right: 25px;
}

.split {
    height: 88%;
    width: 50%;
    position: fixed;
    top: 49px;
    overflow-x: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.box3 {
    cursor: default;
    width: 100%;
    right: 15%;
    background-color: #ccc;
    box-shadow: 0px 3px 5px 0px #ccc;
    margin-top: 35px;
    border-radius: 15px;
    padding-right: 25px;
}